<h1> Edit Posting </h1>

<%= render "form" %>
<%= link_to "Delete This Posting", posting_path(@posting), method: :delete, class: "delete" %>
<!--I like that you code is really easy to read and clean  -->
